body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:honeydew;
    background-color: rgb(15, 31, 49);
}

/* header and nav styles */

.main-header{
    background-color: rgb(21, 27, 31);
    padding-bottom: 25px;
    position: sticky;
    top: 0;
}

header h1{
    float: left;
}

header p{
    clear: both;
}

header nav{
    float: right;
    margin: 50px 120px 0px 0px;
}
nav a{
    margin-left: 25px;
}
nav a:link{
    text-decoration: none;
    color:honeydew;
}
nav a:visited{
    color:indianred
}
nav a:hover{
    color:khaki;
}
nav a:active{
    color:lightslategray;
}

.divider{
    padding-right: 25px;
    border-right: goldenrod 2px solid;
}

h1, h2, h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: 28px;
}

.logo{
    margin-left: 100px;
    margin-top: 40px;
}


/* Styles in Main */

main{
    margin: 50px 150px;
}

main p{
    line-height: 25px;
}

main article{
    margin: 40px;
    scroll-margin-top: 200px;
}

ul, ol{
    line-height: 25px;
}

#contact ol{
    display: table;
    margin: 0 auto;
    list-style-position: inside;
}
/* Footer */

.bottom-footer{
    text-align: center;
    width: 100%;
    background-color: rgb(21, 27, 31);
    padding-bottom: 10px;
    padding-top: 10px;
}

.bottom-footer div{
    margin: 40px 0px 40px 0px;
}

/* link styles */
a[href^="mailto:"]:link{
    color: goldenrod;
}
a[href^="mailto:"]:visited{
    color: orangered;
}
a[href^="mailto:"]:hover{
    color:palegoldenrod;
}
a[href^="mailto:"]:active{
    color:palevioletred;
}

a:link{
    color: goldenrod;
}
a:visited{
    color: rgb(141, 110, 42);
}
a:hover{
    color:palegoldenrod;
}
a:active{
    color:palevioletred;
}

/* misc styles */

hr{
    border: 2px goldenrod solid;
    border-radius: 100%;
    clear: both;
}

header img{
    height: 400px;
    float: right;
    border-radius: 10%;
    margin: 40px;
}
